/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    margin: auto 25%;
    font-family: 'Montserrat', sans-serif;
}

/* CLEARFIX UTILITY */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* HEADER SECTION */
header {
    /* background-color: pink; */
    /* height: 100px; */
    margin-bottom: 10px;
}

.logo {
    height: 60px;
    margin-top: 10px;
}

.navigation > li {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    list-style: none;
    margin-right: 10px;
    font-weight: lighter;
    text-transform: uppercase;
    color: lightgray;
}

li:hover {
    color: black;
    cursor: pointer;
}

/* MAIN SECTION */
main {
    /* background-color: yellow; */
    margin-bottom: 10px;
}

.main-title {
    background-image: url(./img/banner.jpg);
    height: 400px;
    background-position: center;
    border-radius: 20px;
}

.main-title .content {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 400px;
    padding: 280px 30px 0 ;

}

.content {
    
    color: whitesmoke;
    text-align: justify;
    font-size: 10px;
    
}


/* TITLE SECTION */
.title {
    /* background: turquoise; */
    margin: 20px 0;
    height: 70px;
}

.title h2 {
    font-size: 30px;
}

.title p {

    color: gray;
    
}


/* FLOAT SECTION */
.box {
     /* background-color: rgb(0, 140, 255);  */
    margin-bottom: 100px;
}

.box > .left,
.box > .center,
.box > .right {
    float: left;
}

.description {
    font-size: 10px;
    color: gray;
}

h5 {
  
    padding-top: 10px;
    padding-bottom: 10px;
}

#pic1 {
    
    width: 170px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid gray;
    
    
}

#pic2 {
    width: 560px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid gray;
}

#pic3 {
    width: 170px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid gray;
}


.left {
    width: 18%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
    /* background: turquoise; */
}

.center{
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    height: 300px;
    /* background: turquoise; */
}

.right{
    width: 18%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* background:turquoise; */
}

/* FOOTER SECTION */
footer {
    text-align: center;
    /* background-color: purple; */
    height: 50px;
}

#hearth {
    color: red;
}